* {
  font-family: "Avenir-Next", Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
}

:root {
  --body-color: #7f8c8d;
  --overlay-color: #000000b3;
  --blue: #4992ca;
  --very-dark-gray: #424242;
}

nav {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px;
  font-size: 10px;
}

.logo {
  width: 80px;
}

.ind-flag {
  width: 15px;
  margin-left: 448px;
}

.nav-list {
  list-style: none;
}

nav li {
  float: left;
  margin-left: 34px;
}

.li-first a {
  margin-left: 0px;
}

.arrow::after {
  content: "▼";
  font-size: 8px;
  margin-left: 3px;

  color: #808080;
}

.li-btn {
  background-color: #de703b;
  padding: 2px 33px;
}

.li-btn a {
  color: white;
}

li a {
  text-decoration: none;
  color: #a8a8a8;
  font-size: 13px;
  font-weight: 500;
}

.home-page {
  background-image: url("/assets/images/pokemon_bckgrd_img.jpg");
  color: white;
  background-size: 100% 100%;
}

.home-page h1 {
  font-size: 90px;
}

.home-page h3 {
  font-size: 33px;
}

.home-page-overlay {
  background-color: var(--overlay-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10%;
}
#let-s-learn-web-developtment-in-a-fun-way- {
  margin-top: 10px;
}
.btn-home {
  margin-top: 18px;
}

.btn-apply {
  background-color: var(--blue);
  border: none;
  color: white;
  padding: 12px 70px;
}

.btn-reg {
  background-color: transparent;
  color: white;
  padding: 15px 45px;
  border: 2px solid #fff;
}

.btn-learn {
  border-radius: 15px;
  padding: 14px 15px;
  border: none;
}

.pocket-monster-section {
  background-color: var(--blue);
  padding: 30px 150px;
  color: white;
}

.pocket-monster-section h2 {
  font-size: 45px;
}

.pocket-monster-section h4 {
  font-size: 30px;
}

.pocket-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pocket-intro-desc {
  text-align: center;
}

.pocket-intro-p {
  margin: 14px 0;
  letter-spacing: 0.5px;
}

.pocket-desc {
  display: flex;
  margin-top: 20px;
}

.pocket-desc-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pocket-desc-content p {
  text-align: center;
  padding: 8px 5px 45px 5px;
  font-size: 14.5px;
  font-weight: 450;
  line-height: 25px;
}

.fas {
  font-size: 35px;
  margin-bottom: 20px;
}

.pocket-desc-margin {
  margin-top: 20px;
}
h4 > .pocket-desc-margin {
  margin-top: 40px;
}
.statistics-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 150px;
}

.statistics-section h2 {
  font-size: 45px;
}

.statistics-section h4 {
  font-size: 30px;
  font-weight: 450;
}

.statistics-desc {
  display: flex;
}

.statistics-desc-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statistics-desc-content > p {
  font-size: 15px;
  font-weight: 401;
}
.statistics-desc-margin {
  margin-top: 28px;
  text-align: center;
  padding: 4px 15px;
}

.pokemon-of-the-year-section h3 {
  font-size: 50px;
  text-align: center;
}

.pokemon-of-the-year-section h4 {
  font-size: 30px;
  text-align: center;
  color: darkslategray;
  font-weight: 450;
}

.pokemon-of-the-year-section h6 {
  font-size: 18px;
  text-align: center;
  color: var(--body-color);
  font-weight: 400;
}

.pokemon-pic {
  width: 55%;
}

.pok-logo {
  width: 50%;
  margin-bottom: 60px;
  margin-top: 5px;
}

.pok-table-body {
  vertical-align: top;
}

.pok-desc {
  text-align: left;
  color: var(--body-color);
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  border-spacing: 0 1.5em;
}

.QandA-section {
  background-color: var(--blue);
  padding: 60px 200px;
  color: white;
  text-align: left;
}

#q-and-a {
  text-align: center;
  font-size: 45px;
  margin-bottom: 20px;
}

.pok-ques p {
  font-weight: bolder;
  margin-bottom: 20px;
}

.q {
  font-weight: bolder;
  margin-bottom: 2px;
}

.ques ol {
  padding-left: 1em;
}

.ques ol ul:not(:last-child) {
  margin-bottom: 1em;
}

.ques ol ul li {
  margin-left: 5em;
}
.know-more-section > h2 {
  font-size: 45px;
  color: #fff;
  background-color: var(--very-dark-gray);
  text-align: center;
  padding: 50px 50px 100px 50px;
}
.know-more-section > button {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.card-section h3 {
  text-align: center;
  color: var(--body-color);
  font-size: 40px;
}
