* {
  font-family: "Avenir-Next", Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
}

:root {
  --body-color: #7f8c8d;
  --overlay-color: #000000b3;
  --blue: #4992ca;
  --very-dark-gray: #424242;
}

nav {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px;
  font-size: 10px;
}

.logo {
  width: 80px;
}

.ind-flag {
  width: 15px;
  margin-left: 448px;
}

.nav-list {
  list-style: none;
}

nav li {
  float: left;
  margin-left: 34px;
}

.li-first a {
  margin-left: 0px;
}

.arrow::after {
  content: "▼";
  font-size: 8px;
  margin-left: 3px;

  color: #808080;
}

.li-btn {
  background-color: #de703b;
  padding: 2px 33px;
}

.li-btn a {
  color: white;
}

li a {
  text-decoration: none;
  color: #a8a8a8;
  font-size: 13px;
  font-weight: 500;
}

.home-page {
  background-image: url("/assets/images/pokemon_bckgrd_img.jpg");
  color: white;
  background-size: 100% 100%;
}

.home-page h1 {
  font-size: 90px;
}

.home-page h3 {
  font-size: 33px;
}

.home-page-overlay {
  background-color: var(--overlay-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10%;
}
#let-s-learn-web-developtment-in-a-fun-way- {
  margin-top: 10px;
}
.btn-home {
  margin-top: 18px;
}

.btn-apply {
  background-color: var(--blue);
  border: none;
  color: white;
  padding: 12px 70px;
}

.btn-reg {
  background-color: transparent;
  color: white;
  padding: 15px 45px;
  border: 2px solid #fff;
}

.btn-learn {
  border-radius: 15px;
  padding: 14px 15px;
  border: none;
}

.pocket-monster-section {
  background-color: var(--blue);
  padding: 30px 150px;
  color: white;
}

.pocket-monster-section h2 {
  font-size: 45px;
}

.pocket-monster-section h4 {
  font-size: 30px;
}

.pocket-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pocket-intro-desc {
  text-align: center;
}

.pocket-intro-p {
  margin: 14px 0;
  letter-spacing: 0.5px;
}

.pocket-desc {
  display: flex;
  margin-top: 20px;
}

.pocket-desc-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pocket-desc-content p {
  text-align: center;
  padding: 8px 5px 45px 5px;
  font-size: 14.5px;
  font-weight: 450;
  line-height: 25px;
}

.fas {
  font-size: 35px;
  margin-bottom: 20px;
}

.pocket-desc-margin {
  margin-top: 20px;
}
h4 > .pocket-desc-margin {
  margin-top: 40px;
}
.statistics-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 150px;
}

.statistics-section h2 {
  font-size: 45px;
}

.statistics-section h4 {
  font-size: 30px;
  font-weight: 450;
}

.statistics-desc {
  display: flex;
}

.statistics-desc-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statistics-desc-content > p {
  font-size: 15px;
  font-weight: 401;
}
.statistics-desc-margin {
  margin-top: 28px;
  text-align: center;
  padding: 4px 15px;
}

.pokemon-of-the-year-section h3 {
  font-size: 50px;
  text-align: center;
}

.pokemon-of-the-year-section h4 {
  font-size: 30px;
  text-align: center;
  color: darkslategray;
  font-weight: 450;
}

.pokemon-of-the-year-section h6 {
  font-size: 18px;
  text-align: center;
  color: var(--body-color);
  font-weight: 400;
}

.pokemon-pic {
  width: 55%;
}

.pok-logo {
  width: 50%;
  margin-bottom: 60px;
  margin-top: 5px;
}

.pok-table-body {
  vertical-align: top;
}

.pok-desc {
  text-align: left;
  color: var(--body-color);
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  border-spacing: 0 1.5em;
  margin-top: 10px;
}

.QandA-section {
  background-color: var(--blue);
  padding: 60px 200px;
  color: white;
  text-align: left;
}

#q-and-a {
  text-align: center;
  font-size: 45px;
  margin-bottom: 20px;
}

.pok-ques p {
  font-weight: bolder;
  margin-bottom: 20px;
}

.ques ol {
  padding-left: 1em;
}

.ques ol ul:not(:last-child) {
  margin-bottom: 1em;
}
.ques ul li {
  font-weight: 370;
  font-size: 15px;
  line-height: 1.5;
  margin-top: 2px;
}

.ques ol ul li {
  margin-left: 6em;
}

.pok-battle-section {
  padding: 60px 200px;
}

.pok-battle-section h2 {
  font-size: 45px;
}

.pok-battle-intro h3 {
  padding: 20px 0;
  font-size: 18px;
}

.pok-battle-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pok-battle-desc {
  display: flex;
}

.pok-battle-desc-left {
  flex: 1;
}
.pok-battle-desc-left h3 {
  font-size: 15px;
}
.pok-battle-desc-left p {
  color: #8a8a8a;
  margin-top: 30px;
  margin-right: 30px;
  line-height: 1.5;
}

.pok-battle-desc-right {
  flex: 2;
}

.battle-table td,
th {
  padding: 10px;
  text-align: start;
  border-collapse: collapse;
  border: solid 1px #cecece;
}

.pok-battle-desc-right td {
  color: #8a8a8a;
  border-collapse: collapse;
}

.pok-battle-desc-right p {
  margin-top: 10px;
  font-size: 15px;
}

.pok-battle-end {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pok-battle-end p {
  color: var(--blue);
  font-size: 20px;
  padding: 20px 0;
}

.pok-battle-end button {
  background-color: var(--blue);
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 70px;
}

.know-more-section {
  background-color: var(--very-dark-gray);
}

.know-more-section > h2 {
  font-size: 45px;
  color: #fff;
  text-align: center;
  padding: 50px 0 20px 0;
}

.know-more-section > button {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 2px solid white;
  color: white;
  font-size: 15px;
  font-weight: 400;
  padding: 12px 80px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 75px;
}

.card-section {
  padding: 35px 0;
}

.card-section h3 {
  text-align: center;
  color: var(--body-color);
  font-size: 40px;
}

.card-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40%;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  border-top: 10px solid var(--blue);
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}

.card-content p:first-child {
  color: var(--body-color);
  padding-top: 10px;
}

.card-content p:last-child {
  padding-bottom: 10px;
}

.card-p {
  padding: 20px 30px;
  text-align: center;
}

.pokemon-trainer-section {
  background-color: var(--blue);
  color: #fff;
}

.pokemon-trainer-section h2 {
  font-size: 45px;
  text-align: center;
  color: #fff;
  padding-top: 30px;
}

.pokemon-trainer-section h4 {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
}

.pokemon-trainer-section h6 {
  font-size: 18px;
  text-align: center;
  font-weight: 390;
}

.pokemon-trainer-pic {
  width: 150px;
  border-radius: 50%;
}

.pokemon-generation-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 200px;
}

.pokemon-generation-section h2 {
  font-size: 45px;
  color: var(--body-color);
  padding-bottom: 10px;
}

.pokemon-generation-section h4 {
  font-size: 30px;
  padding-bottom: 30px;
}

.generation-container {
  display: flex;
}

.generation-desc {
  flex: 1;
  padding: 10px 10px;
}

.generation-desc div:first-child {
  border-top: solid 15px var(--blue);
  border-left: solid 1px #cecece;
  border-right: solid 1px #cecece;
  padding: 25px 10px;
}

.generation-desc div:last-child {
  border: solid 1px #cecece;
  height: 300px;
}

.generation-desc div:last-child p {
  padding: 25px 10px;
  letter-spacing: 2px;
}

.input-section {
  background-color: var(--overlay-color);
}

.input-section h2 {
  font-size: 45px;
  text-align: center;
  color: white;
  padding-top: 40px;
  padding-bottom: 20px;
}

.input-section div {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.input-section input {
  padding: 15px 0;
  padding-right: 100px;
  padding-left: 20px;
  font-size: 20px;
}

.input-section button {
  background-color: transparent;
  color: white;
  border: solid 2px white;
  padding: 0 100px;
  font-weight: 500;
  font-size: 20px;
}

.pok-logo {
  width: 50%;
  margin-bottom: 60px;
  margin-top: 5px;
}

.pok-table-body {
  vertical-align: top;
}

.pok-desc2 {
  text-align: left;
  color: white;
  font-size: 14px;
  font-weight: 350;
}

.trainer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.know-more2 {
  background-color: var(--blue);
  color: #fff;
}

.know-more2 > h3 {
  font-size: 45px;
  color: #fff;
  text-align: center;
  padding: 25px 0 40px 0;
}

.know-more2 > button {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 2px solid white;
  color: white;
  font-size: 15px;
  font-weight: 400;
  padding: 12px 80px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 30px;
}

.logos img {
  width: 150px;
  padding: 6px 100px;
}
.logos h3 {
  text-align: center;
  font-size: 45px;
  color: grey;
}
.logos p {
  text-align: center;
  color: var(--very-dark-gray);
  font-size: 14px;
  font-weight: 450;
  margin-top: 10px;
}

.logo-imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-left {
  display: flex;
}
.logo-center {
  display: flex;
}
.logo-right {
  display: flex;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: #fff;
}
.footer ul {
  list-style: none;
}

.footer1 {
  display: flex;
}
.footer2 {
  display: flex;
}
.footer3 {
  display: flex;
}
.footer4 {
  display: flex;
}
